.body{
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}

.logo{
    margin: 10px 10px;

}
.navbar{
    overflow: hidden;
    background-color: rgb(25, 30, 31);
}
.navbar a{
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown{
    float: right;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: orange;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

*{margin: 0; padding: 0;}

.wrapper{
    width: 960px;
    margin: 0 auto;
}

.box img{
    width: 300px;
    height: 200px;
}
.box h2{
    background-color: orange;
    color:rgb(0, 0, 0);
    text-align: center;
}
.box p{
    text-align: justify;
}
.box a{
    text-decoration: none;
    color: black;
    background-color: orange;
    text-align: center;
    margin: 0 auto;

}
.box{
    width: 300px;
    float: left;
    margin-right: 30px;
}
.nomrgn{
    margin-right: 0px;
}
.slide-container{
    width: 970px;
    height: 250px;
    margin-top: 0px;
    margin-bottom:10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}
.image-container{
    width: 2810px;
    height: 250px;
    position: relative;
    transform: left 2s;
    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    
}
.slider-image{
    float: left;
    margin: 0px;
    padding: 0px;
}
.button-container{
    top: 20px;
    position: relative;
}
.slider-button{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border-color: white;
}
#slider-image-1:target ~.image-containger{
    left: 0px;
}
#slider-image-2:target ~.image-containger{
    left: -970px;
}
#slider-image-3:target ~.image-containger{
    left: -1940px;
}

